body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* 垂直布局 */
    justify-content: flex-start; /* 从顶部开始布局 */
    align-items: center;
    background-color: #f4f4f4; /* 背景颜色，确保背景简单，专注内容 */
    background-image: url('../images/index_bg.jpg'); /* 确保路径正确 */
    background-size: cover; /* 确保图片覆盖整个可视区域 */
    background-position: center; /* 图片居中显示 */
    background-repeat: no-repeat; /* 不重复显示图片 */
    height: 100vh; /* 设置身体高度为视窗高度 */
}

h1 {
    font-size: 48px;
    color: white;
    text-align: center;
    margin-top: 20px; /* 顶部留白 */
    padding: 20px;
    background: rgba(0, 0, 0, 0); /* 背景完全透明 */
    border-radius: 10px;
}

form {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: none;
    color: white;
    width: 80%; /* 宽度为页面宽度的80% */
    max-width: 800px; /* 最大宽度为800px */
}

label {
    background: rgba(0, 0, 0, 0.5); /* 背景全透明 */
    display: block; /* 标签块级显示 */
    font-size: 18px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5); /* 背景半透明黑色 */
    color: white; /* 白色字体 */
    resize: none; /* 禁用手动调整大小 */
    overflow: hidden; /* 禁用滚动条 */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5); /* 背景半透明黑色 */
    color: white; /* 白色字体 */
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: rgba(255, 255, 255, 0.3); /* 悬停时背景颜色变化 */
    color: black; /* 悬停时字体颜色变化 */
}

.center {
    text-align: center;
}

